<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ivymoda/ivymoda_mvc/public/
    
    # Bỏ qua các file và thư mục thực tế
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Chuyển hướng tất cả các request đến index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>